config mqtt
    option host         '192.168.0.22'
    option port         '1883'
    option client_id    'mqtt-tempd'
    option topic_base   '/temperaturen'
    option status_topic '/status/mqtt-tempd'
    option keepalive    '60'

config rrd
    option path '/var/lib/mqtt-tempd'    
    
config sensor
    option topic '/temperaturen/sens/ww'
    option name  'sens_ww'
    option label 'Warmwasser'
    option graph 'warmwasser'

config sensor
    option topic '/temperaturen/sens/sol_v'
    option name  'sens_sol_v'
    option label 'Solar Vorlauf'
    option graph 'solar'
    
config sensor
    option topic '/temperaturen/sens/sol_r'
    option name  'sens_sol_r'
    option label 'Solar Rücklauf'
    option graph 'solar'

config sensor
    option topic '/temperaturen/sens/ws_o'
    option name  'ws_o'
    option label 'Speicher Oben'
    option graph 'speicher'

config sensor
    option topic '/temperaturen/sens/ws_u'
    option name  'ws_u'
    option label 'Speicher Unten'
    option graph 'speicher'

config sensor
    option topic '/temperaturen/sens/at'
    option name  'sens_at'
    option label 'Aussentemperatur'
    option graph 'aussen'
